* {
  margin: 0;
  padding:0;
  /*overflow-x: hidden;*/
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Alegreya Sans SC', sans-serif;*/
}
body {
  margin: 0;
  /*overflow-y: hidden;*/
  padding: 0;
  /*background-color:rgba(34,34,34, .9);*/
  background-color:rgba(29, 31, 33, .9);
}
#app {
  margin:0;
  padding:0;
}
#MatterJS {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100vh;
  z-index:2;
}
canvas {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1.name {
  font-weight: 100;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  font-size: 12vmin;
  transform: translateX(calc(-50% - 6vmin)) translateY(-50%);
  color: #fff;
}
/*h1.tutorial {
  font-weight: 100;
  position: absolute;
  top: 55%;
  left: 50%;
  text-align: center;
  font-size: 3vmin;
  width: 20vmin;
  transform: translateX(calc(-50%)) translateY(calc(-50% - 3vmax));
}*/
p.webdev{
  color: #1574cd;
  font-weight: 400;
  position:absolute;
  top:50%;
  left: 50%;
  text-align:center;
  transform: translateX(calc(-50% + 22vmin)) translateY(calc(-50% + .5vmin));
  width: 10vmin;
  font-size: 4vmin;
  font-family: sans-serif;
}
p.webdev2{
  color: #1574cd;
  font-weight: 400;
  position:absolute;
  top:50%;
  left: 50%;
  text-align:center;
  transform: translateX(calc(-50% + 22vmin)) translateY(calc(-50% + .5vmin));
  width: 10vmin;
  font-size: 4vmin;
  font-family: sans-serif;
  background-color:rgba(21, 116, 205, 0.15);
  border-radius:1vmin;

  -webkit-mask-image: linear-gradient(-65deg, rgba(0,0,0,.3) 30%, #000 50%, rgba(0,0,0,.3) 70%);
  -webkit-mask-size: 200%;

  animation: shine 1s infinite;
}
p.webdev:hover {

}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

.container {
  width: 99.5%;
  display: flex;
} 
.container_item {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction:column;
  font-family: 'Roboto', sans-serif;
  height: 25vh;
}
.container_item > h1{
  /*font-size: 4vmin;*/
  color: rgba(21, 116, 205, 1); 
}
.container_item > p {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 960px) {
  .container {
      display: initial;
  }
}



/*
button.bullet{
  position:absolute;
  top:60%;
  left:50%;
  transform: translateX(calc(-50%)) translateY(calc(-60%));
  background: rgba(21, 116, 205, 0.1);
  color: #fff;
  border: 0;
  outline: 0;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, .1);
  border-radius: 2px;
  padding: 2px 2px;
  font-size: 5vmin;
}

button.reload {
  position:absolute;
  top:60%;
  left:60%;
  transform: translateX(calc(-50%)) translateY(calc(-60%));
  background: rgba(21, 116, 205, 0.1);
  color: #fff;
  border: 0;
  outline: 0;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, .1);
  border-radius: 2px;
  padding: 2px 2px;
  font-size: 5vmin;
  /*transition: background .5s linear;
}
button.rain {
  position:absolute;
  top:60%;
  left:40%;
  transform: translateX(calc(-50%)) translateY(calc(-60%));
  background: rgba(21, 116, 205, 0.1);
  color: #fff;
  border: 0;
  outline: 0;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, .1);
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 5vmin;
  /*transition: background .5s linear;
}*/
button.closeModal{
  background: rgba(21, 116, 205, 0.9);
  color: #fff;
  position: relative;
  border: 0;
  outline: 0;
  padding: 0;
  margin-top: 1vmin;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, .1);
  border-radius: 2px;
  padding: 12px 36px;
  font-size: 3vmin;
  transition: background .5s linear;
}

button:hover{
  background: rgba(21, 116, 205, 0.6);
}
button:active{
  background: rgba(21, 116, 205, 0.9);
  transition: background .1s linear;
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

::-webkit-scrollbar {
    opacity: 0;
    width: .5%;
}
::-webkit-scrollbar-track {
    background: transparent; 
    transition: background 1s ease-in;
    border-radius:1em;
}
::-webkit-scrollbar-track:hover {
    background: #f1f1f1; 
    border-radius:1em;
}

::-webkit-scrollbar-thumb {
    background: rgba(21, 116, 205, 1); 
    border-radius:1em;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(136, 136, 136, .4); 
}