* {
  margin: 0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  /*overflow-x:hidden;*/
}
body {
  margin: 0;
  padding: 0;
  background-color:rgba(29, 31, 33, .9);
  overflow-x:hidden;
}
#app {
  margin:0;
  padding:0;
}
#MatterJS {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100vh;
  z-index:2;
}
canvas {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1.name {
  font-weight: 100;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  font-size: 12vmin;
  transform: translateX(calc(-50% - 6vmin)) translateY(-50%);
  color: #fff;
}
p.webdev{
  color: #1574cd;
  font-weight: 400;
  position:absolute;
  top:50%;
  left: 50%;
  text-align:center;
  transform: translateX(calc(-50% + 22vmin)) translateY(calc(-50% + .5vmin));
  width: 10vmin;
  font-size: 4vmin;
  font-family: sans-serif;
}
p.webdev2{
  color: #1574cd;
  font-weight: 400;
  position:absolute;
  top:50%;
  left: 50%;
  text-align:center;
  transform: translateX(calc(-50% + 22vmin)) translateY(calc(-50% + .5vmin));
  width: 10vmin;
  font-size: 4vmin;
  font-family: sans-serif;
  background-color:rgba(21, 116, 205, 0.15);
  border-radius:1vmin;
  -webkit-mask-image: linear-gradient(-65deg, rgba(0,0,0,.3) 30%, #000 50%, rgba(0,0,0,.3) 70%);
  -webkit-mask-size: 200%;
  animation: shine 1s infinite;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
.content {
  height: auto;
  /*padding-top: 4em;*/
  /*padding-bottom: 6em;*/
}
.container {
/*  max-width: 860px;
  margin: auto;*/
  padding-top: 4em;
  padding-bottom:6em;
  overflow-x:hidden;
}
.container.dark {
  background-color: #e6e8ec;
} 
.container_item {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: auto;
  max-width: 860px;
  margin: auto;
}
.container_item > h1{
  color: rgba(21, 116, 205, 1); 
  font-weight:300;
  margin-bottom: 2vh;
  font-size: 40px;
}
.container_item > p {
  width: 90%;
  margin: auto;
  font-weight:400;
  font-size: 24px;
  line-height: 35px;
}

.container_item.wide {
  text-align: center;
  margin-bottom: 6em;

}
.container_item.wide > img {
  vertical-align:middle;
}
.container_item.wide.content {
  vertical-align:middle;
  display: inline-block;
  text-align:left;
  width: 400px;
  padding-bottom: 0;
  margin-bottom:0;
}
.container_item.wide.content > h1 {
  width: 90%;
  margin:auto;
}
.container_item.wide.mobile {
  display: none;
}
.vertical_helper {
  vertical-align:middle;
  height:100%;
  display: inline-block;
}

.container_item.wide {
  -webkit-transition-duration: 750ms;
  transition-duration: 750ms;

  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.container_item.wide{
  will-change: transform;
}
.container_item.wide.loading:nth-child(odd) {
  transform: translateX(150%);
}
.container_item.wide.loading:nth-child(even) {
  transform: translateX(-150%);
}


.info_modal {
  font-size:50px;
  margin:auto;
  width:50%;
  background-color:#ecf0f1;
  animation: fadein .7s;
  text-align: center;
  height: 50%;
  overflow:hidden;
  border-radius:10px;


  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: none;
  padding: 20px;
}

.info_modal_overlay {
  animation: fadein .7s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75)
}

.footer_info {
  font-size: 25px;
}

@media screen and (max-width: 960px) {
  .content {
    /*padding-top: 2em;*/
    /*padding-bottom: 3em;*/
  }
  .container {
    
    padding-bottom: 3em;
  }
  .container_item > h1 {
    font-size:30px;
  }
  .container_item > p {
    line-height: normal;
    font-size: 18px;
    line-height: 24px;
  }
  .vertical_helper {
    display: none;
  }
  .container_item.wide {
    text-align:center;
  }
  .container_item.wide > img {
    display: block;
    margin:auto;
  }
  .container_item.wide.content {
    text-align:center;
    width: auto;
  }
  .container_item.wide.mobile {
    display: inherit;
  }
  .info_modal{
    font-size:30px;
  }
  .footer_info {
  display: none;
}
}
button.closeModal{
  background: rgba(21, 116, 205, 0.9);
  color: #fff;
  position: relative;
  border: 0;
  outline: 0;
  padding: 0;
  margin-top: 1vmin;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, .1);
  border-radius: 2px;
  padding: 12px 36px;
  font-size: 3vmin;
  transition: background .5s linear;
}
button:hover{
  background: rgba(21, 116, 205, 0.6);
}
button:active{
  background: rgba(21, 116, 205, 0.9);
  transition: background .1s linear;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
::-webkit-scrollbar {
    opacity: 0;
    width: .5%;
}
::-webkit-scrollbar-track {
    background: transparent; 
    transition: background 1s ease-in;
    border-radius:1em;
}
::-webkit-scrollbar-track:hover {
    background: #f1f1f1; 
    border-radius:1em;
}
::-webkit-scrollbar-thumb {
    background: rgba(21, 116, 205, 1); 
    border-radius:1em;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(136, 136, 136, .4); 
}


/*.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}
*/
.scroll-down {
  padding-top: 60px;
  transition: all .1s ease-in;
}
.scroll-down span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
.scroll-down span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.scroll-down:hover {
  opacity:.5;
}