* {
  margin: 0;
  padding:0;
  /*overflow-x: hidden;*/
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Alegreya Sans SC', sans-serif;*/
}
body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  background-color: #eee;
}
#app {
  margin:0;
  padding:0;
}
h1 {
  font-weight: 100;
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  font-size: 12vmin;
  transform: translateX(calc(-50% - 6vmin)) translateY(-50%);
}
p{
  cursor: pointer;
  color: #1574cd;
  font-weight: 400;
  position:absolute;
  top:50%;
  left: 50%;
  text-align:center;
  transform: translateX(calc(-50% + 22vmin)) translateY(calc(-50% + .5vmin));
  width: 10vmin;
  font-size: 4vmin;
  font-family: 'Quicksand', sans-serif;
}
p.webdev{
  cursor: pointer;
  color: #1574cd;
  font-weight: 400;
  position:absolute;
  top:50%;
  left: 50%;
  text-align:center;
  transform: translateX(calc(-50% + 22vmin)) translateY(calc(-50% + .5vmin));
  width: 10vmin;
  font-size: 4vmin;
  font-family: 'Quicksand', sans-serif;
  background-color:rgba(21, 116, 205, 0.15);
  border-radius:1vmin;

  -webkit-mask-image: linear-gradient(-65deg, rgba(0,0,0,.3) 30%, #000 50%, rgba(0,0,0,.3) 70%);
  -webkit-mask-size: 200%;

  animation: shine 1s infinite;
}
p.webdev:hover {

}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
button{
  position:absolute;
  top:50%;
  left:50%;
  transform: translateX(calc(-50%)) translateY(calc(-50% - 8vmin));
  background: rgba(21, 116, 205, 0.66);
  color: #fff;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, .1);
  border-radius: 2px;
  padding: 12px 36px;
}

button:hover{
  background: darken(rgba(21, 116, 205, 0.66), 10%);
  box-shadow: -1px 1px 2px 1px rgba(255, 255, 255, .3);
}